.bg-login{
  background-image: url('../img/bg-login.jpg');
  /* background-repeat: no-repeat;
  background-position: center center;
 -webkit-background-size: cover;
 -moz-background-size: cover;
 -o-background-size: cover;
  background-size: cover;
  height: 100vh; */
}
form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}