body {
	margin: 0;
}
.img-user{
	background-image:url('../img/me/IMG_0030.JPG');
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
nav {
	position: relative;
	left: 0px;
	height: 40px;
	width: 100%;
	/* text-align: center; */
}
nav ul {
	margin: 0;
	padding: 0;
	display: inline-block;
	list-style: none;
}
nav ul li {
	margin: 0;
	padding: 0;
	float:left;
}
nav ul li :hover {
	color: #c5c8e4;
}
nav ul li a {
	text-decoration: none;
	padding: 10px 20px;
	display: block;
	color: #ffffff;
	/* text-align: center; */
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}